<div class="container py-4">
  <div class="dashboard-header text-center mb-2">
  <h2><i class="bi bi-speedometer2 me-2"></i>Yönetim Paneli</h2>
</div>
  <div class="row g-4 justify-content-center">

    <!-- Ürünler -->
    <div class="col-md-6 col-lg-4">
      <div class="admin-card bg-gradient-primary">
        <div class="icon-wrapper">
          <i class="bi bi-box-seam"></i>
        </div>
        <h5>Ürün Yönetimi</h5>
        <p>Ürünleri ekleyebilir, düzenleyebilir ve silebilirsiniz.</p>
        <a routerLink="/admin/products" class="btn btn-outline-light">Git</a>
      </div>
    </div>

    <!-- Siparişler -->
    <div class="col-md-6 col-lg-4">
      <div class="admin-card bg-gradient-success">
        <div class="icon-wrapper">
          <i class="bi bi-bag-check"></i>
        </div>
        <h5>Sipariş Yönetimi</h5>
        <p>Siparişleri görüntüleyebilir ve yönetebilirsiniz.</p>
        <a routerLink="/admin/orders" class="btn btn-outline-light">Git</a>
      </div>
    </div>

    <!-- Kullanıcılar -->
    <div class="col-md-6 col-lg-4">
      <div class="admin-card bg-gradient-info">
        <div class="icon-wrapper">
          <i class="bi bi-people"></i>
        </div>
        <h5>Kullanıcı Yönetimi</h5>
        <p>Kullanıcıları yönetebilir ve bilgilerini güncelleyebilirsiniz.</p>
        <a routerLink="/admin/users" class="btn btn-outline-light">Git</a>
      </div>
    </div>
    
    <!-- Kategoriler -->
    <div class="col-md-6 col-lg-4">
      <div class="admin-card bg-gradient-warning">
        <div class="icon-wrapper">
          <i class="bi bi-tags"></i>
        </div>
        <h5>Kategori Yönetimi</h5>
        <p>Kategorileri ekleyebilir, düzenleyebilir ve silebilirsiniz.</p>
        <a routerLink="/admin/categories" class="btn btn-outline-light">Git</a>
      </div>
    </div>



    <!-- İletişim -->
    <div class="col-md-6 col-lg-4">
      <div class="admin-card bg-gradient-dark">
        <div class="icon-wrapper">
          <i class="bi bi-chat-dots"></i>
        </div>
        <h5>İletişim Yönetimi</h5>
        <p>Müşteri iletişim taleplerini yönetebilirsiniz.</p>
        <a routerLink="/admin/communication" class="btn btn-outline-light">Git</a>
      </div>
    </div>
  </div>
</div>
